<?xml version="1.0"?>
<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <param name="base_global_planner" value="hybrid_astar_planner/HybridAStarPlanner" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    <rosparam file="$(find akmbot_gazebo)/config/dwa/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find akmbot_gazebo)/config/dwa/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find akmbot_gazebo)/config/dwa/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find akmbot_gazebo)/config/dwa/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find akmbot_gazebo)/config/dwa/move_base_params.yaml" command="load" />
    <rosparam file="$(find akmbot_gazebo)/config/dwa/base_global_planner_params.yaml" command="load" />
    <rosparam file="$(find akmbot_gazebo)/config/dwa/dwa_local_planner_params.yaml" command="load" />
    
    <rosparam file="$(find hybrid_astar_planner)/test_the_plugin/param/plugins.yaml" command="load" ns="/costmap_node/costmap"/>
    <rosparam file="$(find hybrid_astar_planner)/test_the_plugin/param/move_base_params.yaml" command="load" />
  </node>
  

  
</launch> 
